<?xml version="1.0"?>

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5">
        <assemblies>
          <add assembly="NationalInstruments.Common, Version=19.0.40.49152, Culture=neutral, PublicKeyToken=dc6ad606294fc298"/>
          <add assembly="NationalInstruments.UI, Version=19.0.45.49154, Culture=neutral, PublicKeyToken=4febd62461bf11a4"/>
          <add assembly="NationalInstruments.UI.WebForms, Version=19.0.45.49154, Culture=neutral, PublicKeyToken=4febd62461bf11a4"/>
        </assemblies>
      </compilation>
      <httpHandlers>
        <add path="ImageStateHandler.axd" verb="GET" type="NationalInstruments.UI.WebForms.ImageStateHandler, NationalInstruments.UI.WebForms, Version=19.0.45.49154, Culture=neutral, PublicKeyToken=4febd62461bf11a4" validate="true"/>
      </httpHandlers>
      <pages>
        <controls>
          <add tagPrefix="ni" namespace="NationalInstruments.UI" assembly="NationalInstruments.UI, Version=19.0.45.49154, Culture=neutral, PublicKeyToken=4febd62461bf11a4"/>
          <add tagPrefix="ni" namespace="NationalInstruments.UI.WebForms" assembly="NationalInstruments.UI.WebForms, Version=19.0.45.49154, Culture=neutral, PublicKeyToken=4febd62461bf11a4"/>
        </controls>
      </pages>
    </system.web>
    <system.webServer>
	  <validation validateIntegratedModeConfiguration="false"/>
      <modules runAllManagedModulesForAllRequests="true"/>
      <handlers>
        <remove name="ImageStateHandler" />
        <add name="ImageStateHandler" preCondition="integratedMode" path="ImageStateHandler.axd" verb="GET" type="NationalInstruments.UI.WebForms.ImageStateHandler, NationalInstruments.UI.WebForms, Version=19.0.45.49154, Culture=neutral, PublicKeyToken=4febd62461bf11a4" />
      </handlers>
    </system.webServer>

</configuration>
