<?xml version="1.0"?>

<configuration>

  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
          <add assembly="NationalInstruments.Common"/>
          <add assembly="NationalInstruments.UI"/>
          <add assembly="NationalInstruments.UI.WebForms"/>
          <add assembly="NationalInstruments.NetworkVariable"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="ImageStateHandler.axd" verb="GET" type="NationalInstruments.UI.WebForms.ImageStateHandler, NationalInstruments.UI.WebForms" validate="true"/>
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="ni" namespace="NationalInstruments.UI" assembly="NationalInstruments.UI"/>
        <add tagPrefix="ni" namespace="NationalInstruments.UI.WebForms" assembly="NationalInstruments.UI.WebForms"/>
        <add tagPrefix="ni" namespace="NationalInstruments.NetworkVariable.WebForms" assembly="NationalInstruments.NetworkVariable"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ImageStateHandler" />
      <add name="ImageStateHandler" preCondition="integratedMode" path="ImageStateHandler.axd" verb="GET" type="NationalInstruments.UI.WebForms.ImageStateHandler, NationalInstruments.UI.WebForms" />
    </handlers>
  </system.webServer>

</configuration>
